.dashboard {
   height: 100vh;
}
.gradient-custom {
   /* fallback for old browsers */
   background: #f093fb;
   
   /* Chrome 10-25, Safari 5.1-6 */
   background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
   
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
   }
   
   .card-registration .select-input.form-control[readonly]:not([disabled]) {
  
   }
   .card-registration .select-arrow {
   top: 13px;
   }
   
   .gradient-custom {
      margin-left: -12px;
      padding: 3px;
      height: 100vh;
  }
     .col-12.col-lg-9.col-xl-7 {
      width: 100%;
      
  }
  .col-md-6.mb-4.d-inline {
   float: right;
}
.w-100 {
   width: 100%!important;
}
.card-body {
   padding: 24px;
}
.dob{
   padding-top: 27px;
}
label {
   padding-right: 6px;
}
.desh-1{
   margin-top: 11px;
}


   